
/*Importam la font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');


body {

    background: whitesmoke;
    text-decoration: none;
    

}
/*CSS DEL HEADER */
.fondo {

    background: rgba(217, 217, 217, 0.2);
    
    
}


.flex {

    display: flex;
    flex-direction: row;
}




.home {

text-decoration: none;
padding: 2% 3% 1% 2%;
color: blue;
font-family: 'Raleway';
width: 57px;
height: 23px;
font-style: normal;
font-size: 25px;


}

.about {

    text-decoration: none;
    padding: 2% 3% 1% 0%;
    color: black;
    font-family: 'Raleway';
    width: 57px;
    height: 23px;
    font-style: normal;
    font-size: 25px;
}

.logo-text {
    text-decoration: none;
    width: 171px;
    height: 34px;
    font-size: 29px;
    letter-spacing: 1.305em;
    font-size: 28px;
    font-family: 'Raleway';
    color: blue;
    padding: 2% 3% 3% 32%;
}


/*CSS DEL BODY AMB ELS DIFERENTS BOTONS */
.gradient {

    width: 600px;
    height: 75px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.625em;
    color: black;
    margin-left: 36%;
    margin-top: 9%;
}


.parrafo1 {

    width: 30%;
    margin-left: 36%;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto';
    margin-bottom: 1%;
}


.button {
    margin-left: 37%;
    margin-top: 5%;
    font-family: 'Raleway';
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;


    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: 3px black solid;
    border-radius: 100px;
    background-color: #D3B1EA;

}

.button2 {
    margin-left: 2%;
    margin-top: 5%;
    font-family: 'Raleway';
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;


    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: 3px black solid;
    border-radius: 70px;
    background-color: black;
    color: white;
  
}
/*CSS DEL FOOTER AMB ELS CUADRES*/
.cuadro {
    width: 18%;
    height: 19%;
   
    margin-left: 10%;
    margin-top: 5%;
    font-family: 'Raleway';
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;


    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border: 3px black solid;
    border-radius: 40px;
    
    color: white;

background: rgba(255, 255, 255, 0.1);
box-shadow: 8px 8px 0px #333333;
border-radius: 16px;



}

.h6 {

    color: black;
    font-size: 30px;
    font-family: 'Raleway';
    margin: 0%;
    padding-top: 5%;
}

.parrafo2 {

color: black;
font-size: 15px;
margin-left: 5%;
margin-top: 3%;
}

.parrafo3 {

    color: black;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 3%;

}


.cuadro1 {
    width: 17%;
    height: 20%;
    
   
    margin-left: 10%;
    margin-top: 5%;
    font-family: 'Raleway';
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;


    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border: 3px black solid;
    border-radius: 40px;
    
    color: white;

background: rgba(255, 255, 255, 0.1);
box-shadow: 8px 8px 0px #333333;
border-radius: 16px;



}

.flex1 {
    width: 15%;
    display: flex;
    flex-direction: row;
}


/*Media Querys*/
@media screen and (max-width: 1000px) {}



@media screen and (max-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}


@media screen and (max-width: 575px) {

    .flex {

        display: flex;
        flex-direction: row;
    }
    
    
    
    
    .home {
    
    text-decoration: none;
    padding: 2% 3% 1% 2%;
    color: blue;
    font-family: 'Raleway';
    width: 57px;
    height: 23px;
    font-style: normal;
    font-size: 10px;
    
    
    }
    
    .about {
    
        text-decoration: none;
        padding: 2% 3% 1% 0%;
        color: black;
        font-family: 'Raleway';
        width: 57px;
        height: 23px;
        font-style: normal;
        font-size: 10px;
    }
    
    .logo-text {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 171px;
        height: 34px;
        font-size: 15px;
        letter-spacing: 1.305em;
        font-family: 'Raleway';
        color: blue;
        padding: 2% 3% 3% 2%;
    }

    .gradient {

        width: 600px;
        height: 75px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 75px;
        letter-spacing: 0.625em;
        color: black;
        margin-left: 15%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    
    .parrafo1 {
    
        width: 80%;
        margin-left: 15%;
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        font-family: 'Roboto';
        margin-bottom: 1%;
        margin-top: 1%;
    }

    .button {
        width: 25%;
        height: 20%;
        margin-left: 15%;
        margin-top: 5%;
        font-family: 'Raleway';
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    
    
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 1%;
        border: 3px black solid;
        border-radius: 100px;
        background-color: #D3B1EA;
    
    }
    
    .button2 {
        width: 26%;
        height: 20%;
        margin-left: 2%;
        margin-top: 5%;
        font-family: 'Raleway';
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    
    
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 2%;
        border: 3px black solid;
        border-radius: 70px;
        background-color: black;
        color: white;
      
    }
    
    .cuadro {
        width: 50%;
        height: 19%;
       
        margin-left: 19%;
        margin-top: 5%;
        font-family: 'Raleway';
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 22px;
        line-height: 18px;
    
    
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        border: 3px black solid;
        border-radius: 40px;
        
        color: white;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 8px 8px 0px #333333;
    border-radius: 16px;
    
    
    
    }
    
    .h6 {
    
        color: black;
        font-size: 10px;
        font-family: 'Raleway';
        margin: 0%;
        padding-top: 5%;
        margin-left: 10%;
        margin-right: 13%;
        height: 5%;
    }
    
    .parrafo2 {
    
    color: black;
    font-size: 10px;
    margin-left: -2%;
    margin-top: 5%;
    width: 50%;
    

    }
    
    .parrafo3 {
    
        color: black;
        font-size: 10px;
        margin-left: 5%;
        margin-top: 3%;
        width: 50%;
        height: 5%;
    }
    
    
    .cuadro1 {
        width: 28%;
        
        
        
      
        margin-left: 15%;
        font-family: 'Raleway';
        text-decoration: none;
        color: black;
        font-weight: 300;
        font-size: 15px;
        line-height: 0px;
    
    
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 1%;
        padding-right: 1%;
        border: 3px black solid;
        border-radius: 40px;
        
        color: white;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 8px 8px 0px #333333;
    border-radius: 10px;
    
    
    
    }
    
    .flex1 {
        display: flex;
        flex-direction: row;
    }
    
    .flex-wrap {

        display: flex;
        flex-direction: column;

    }
    




    
}
   

